AIRFLOW_FERNET_KEY=

AIRFLOW_DB_HOST=postgres
AIRFLOW_DB_PORT=5432
AIRFLOW_DB_USER=my_user
AIRFLOW_DB_PASS=
AIRFLOW_DB_DATABASE=airflow

AIRFLOW_WEBSERVER_USERNAME=my_user
AIRFLOW_WEBSERVER_PASSWORD=

AIRFLOW_S3_ACCESS_KEY=airflow
AIRFLOW_S3_SECRET_KEY=
AIRFLOW_S3_BUCKET_NAME=airflow-dbt

DWH_USERNAME=my_user
DWH_PASSWORD=

MINIO_ROOT_USERNAME=admin
MINIO_ROOT_PASSWORD=
