AIRFLOW_FERNET_KEY=to_be_generated
AIRFLOW_POSTGRESQL_USERNAME=my_user
AIRFLOW_POSTGRESQL_PASSWORD=my_pass
AIRFLOW_WEBSERVER_USERNAME=my_user
AIRFLOW_WEBSERVER_PASSWORD=my_pass

AIRFLOW_S3_ACCESS_KEY=airflow
AIRFLOW_S3_SECRET_KEY=airflow123
AIRFLOW_S3_BUCKET_NAME=airflow-dbt

DWH_USERNAME=my_user
DWH_PASSWORD=my_pass

MINIO_ROOT_USERNAME=admin
MINIO_ROOT_PASSWORD=admin123
